Proyecto Individual/force-app/main/default/flows/ModulesSelectedBySkills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignations</name>
        <label>Asignations</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ModulesName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!RecordList.Name}&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordList</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>skillChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skill__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>M {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ModulesSelectedBySkills</label>
    <loops>
        <name>RecordList</name>
        <label>RecordList</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>RecordChoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RecordChoice</name>
        <label>RecordChoice</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Skills</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ModulesList</name>
            <fieldText>&lt;p&gt;{!ModulesName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SkillsScreen</name>
        <label>SkillsScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordChoice</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <choiceReferences>skillChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SkillsScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ModulesName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
