Proyecto Individual/force-app/main/default/flows/PointsAndBadgesInUsers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Badges_To_Users</name>
        <label>Add Badges To Users</label>
        <locationX>974</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Users.Badges__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Loop_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loop_Item_To_Collection</name>
        <label>Add Loop Item To Collection</label>
        <locationX>974</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>UsersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Records</name>
        <label>Are There Records?</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Module_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Records_User_Module</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Users</targetReference>
            </connector>
            <label>User Module Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Records_Users</name>
        <label>Are There Records Users?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Users</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed?</label>
        <locationX>1106</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_User_Module.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Badges_To_Users</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Parent</name>
        <label>Is User Parent?</label>
        <locationX>667</locationX>
        <locationY>1254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_User_Module.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_Users.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Points_Field_is_Changed</name>
        <label>Points Field is Changed</label>
        <locationX>611</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Poinst_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Points__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Points__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_User_Module</targetReference>
            </connector>
            <label>Poinst Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>PointsEarned</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Points__c} - {!$Record__Prior.Points__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PointsAndBadgesInUsers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PointsAndBadgesInUsers</label>
    <loops>
        <name>Loop_On_User_Module</name>
        <label>Loop On User Module</label>
        <locationX>886</locationX>
        <locationY>1103</locationY>
        <collectionReference>Records_User_Module</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_User_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Users</name>
        <label>Loop on Users</label>
        <locationX>50</locationX>
        <locationY>983</locationY>
        <collectionReference>Parent_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_On_User_Module</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_The_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Parent_Users</name>
        <label>Parent Users</label>
        <locationX>182</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Records_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Records_User_Module</name>
        <label>Records User Module</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_The_Users</name>
        <label>Update The Users</label>
        <locationX>50</locationX>
        <locationY>2267</locationY>
        <inputReference>Loop_on_Users</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Points_Field_is_Changed</targetReference>
        </connector>
        <object>User_Module__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pointsPriori</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UsersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
