Proyecto Individual/force-app/main/default/flows/pointsAndTotalTimesInTrail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SeteoDeBadges</name>
        <label>SeteoDeBadges</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>UserVariable.Badges__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VariableConfiguration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableConfiguration</name>
        <label>VariableConfiguration</label>
        <locationX>396</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>UserModuleVariable.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverObjectUserModule.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverObjectUserModule.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ModuleOwner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Counter</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>CompletedModule</name>
        <label>CompletedModule</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>VariableConfiguration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Module not completed</defaultConnectorLabel>
        <rules>
            <name>Module_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverObjectUserModule.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeteoDeBadges</targetReference>
            </connector>
            <label>Module is Completed?</label>
        </rules>
    </decisions>
    <interviewLabel>pointsAndTotalTimesInTrail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pointsAndTotalTimesInTrail</label>
    <loops>
        <name>LoopOverObjectUserModule</name>
        <label>LoopOverObjectUserModule</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>TriggerRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CompletedModule</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ModuleOwner</name>
        <label>ModuleOwner</label>
        <locationX>396</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserVariable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TriggerRecords</name>
        <label>Trigger Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverObjectUserModule</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UserUpdate</name>
        <label>UserUpdate</label>
        <locationX>396</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>LoopOverObjectUserModule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ModuleOwner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Badges__c</field>
            <value>
                <elementReference>UserVariable.Badges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>UserModuleVariable.Points__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TriggerRecords</targetReference>
        </connector>
        <object>User_Module__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UserModuleVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User_Module__c</objectType>
    </variables>
    <variables>
        <name>UserVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
